doctype html
html(lang="en")
  head
    title TabPanel
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="app.css")
    link(rel="icon" href="")
  body
    section#app
      h1.title Tab list practice
    script(src="app.js")